<form action="/refactor/create" method="POST" class="col-md-12">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<input type="hidden" name="snippet" value=<%= @snippet.id %> />
	<div class="row">
		<textarea name="code" placeholder="Refactor..." required class="col-md-12 refactor-text"/></textarea>
		<div class="col-md-6 col-md-push-6">
			<div class="row">
				<button class="duplicate-code col-md-6">Duplicate Original</button>
				<input type="submit" value="Submit Refactor" class="col-md-6 submit-refactor"/>
			</div>
		</div>
	</div>
</form>