<form action="/post_snippet" method="POST" class="col-md-4 col-md-offset-4 snippet-form">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<input type="text" name="title" placeholder="Title" required class="col-md-12"/>
	<input type="text" name="language" placeholder="Snippet Language" required class="col-md-12"/>
	<textarea name="description" placeholder="Description" required class="col-md-12"></textarea>
	<textarea name="code" placeholder="Code Snippet" required class="col-md-12"></textarea>
	<input type="submit" value="Post Snippet" class="col-md-12"/>
</form>