// Place all the styles related to the Refactor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.refactor-container {
	border-bottom: 1px solid rgba(255,255,255,0.4);
	padding-top: 20px;
	padding-bottom: 40px;
}

.upvote {
		border: 1px solid rgba(255,255,255,0.4);
	}

.upvoted {
	background: #ff5349;
	border: 1px solid #ff5349;
}
