body {
	background: #303133;
	color: #fff;

	.navbar-default .navbar-nav>.open>a, 
	.navbar-default .navbar-nav>.open>a:focus, 
	.navbar-default .navbar-nav>.open>a:hover {
		background: #333;
		color: rgba(255,255,255, 0.8);
	}

	.navbar-default .navbar-nav>li>a:focus,
	.navbar-default .navbar-nav>li>a:hover {
		color: rgba(255,255,255, 0.6);
	}

	.dropdown-menu>li>a:hover {
		background: #333;
		color: rgba(255,255,255, 0.8);
	}

	.navbar-default {
		border-radius: 0px;
		background: #222222;
		color: #fff;
		border: 0px;

		.navbar-nav {
			li {
				a {
					color: rgba(255,255,255, 0.8);
				}

				.dropdown-menu {
					background: #222;
				}
			}
		}
	}

	pre {
		background: #3c3c3c;
		color: #fff;
	}

	textarea, input {
		background: #3c3c3c;
	}

	textarea {
		resize: vertical;
	}

	.jumbotron {
		background: #262729;
	}

	.timestamp {
		color: rgba(255,255,255, 0.4);
		font-size: 12px;
	}

	.underlined {
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}

	.navigation-button-container {
		margin-bottom: 30px;
		
		.navigation-button {
			background: rgba(255,255,255,0.1);
			padding: 5px 10px;
			margin-left: 2px;
			margin-right: 2px;
			color: #fff;
			transition: .7s;
			float: right;
		}

		.navigation-button:hover {
			background: #337ab7;
			text-decoration: none;
		}
	}
}
