body {
	background: #fff;
	color: #000;

	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.navbar {
		min-height: auto;

		.navbar-brand {
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 16px;
			height: auto;
			color: rgba(255,255,255, 0.8);
		}
	}

	.navbar-default .navbar-nav>.open>a, 
	.navbar-default .navbar-nav>.open>a:focus, 
	.navbar-default .navbar-nav>.open>a:hover {
		background: #333;
		color: rgba(255,255,255, 0.8);
	}

	.navbar-default .navbar-nav>li>a:focus,
	.navbar-default .navbar-nav>li>a:hover {
		color: rgba(255,255,255, 0.6);
	}

	.dropdown-menu>li>a:hover {
		background: #333;
		color: rgba(255,255,255, 0.8);
	}

	.navbar-default {
		border-radius: 0px;
		background: #222222;
		color: #fff;
		border: 0px;

		.navbar-nav {
			li {
				a {
					color: rgba(255,255,255, 0.8);
				}

				.dropdown-menu {
					background: #222;
				}
			}
		}
	}

	pre {
		border: 1px solid transparent;
		border-radius: 0px;
		color: rgba(0,0,0,0.6);
	}

	textarea, input {
		border: 1px solid rgba(0,0,0,0.4);
		background: #fff;
	}

	textarea {
		resize: vertical;
	}

	.jumbotron {
		background: #262729;
	}

	.timestamp {
		color: rgba(0,0,0, 0.4);
		font-size: 12px;
	}

	.underlined {
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	.navigation-button-container {
		margin-bottom: 30px;
		
		.navigation-button {
			background: rgba(0,0,0,0.6);
			padding: 5px 10px;
			margin-left: 2px;
			margin-right: 2px;
			color: #fff;
			transition: .7s;
			float: right;
		}

		.navigation-button:hover {
			background: #337ab7;
			text-decoration: none;
		}
	}

	.page-title {
		font-size: 18px;
		padding-bottom: 10px;
	}

	form {

		input, textarea {
			color: rgba(0,0,0,0.8);
		}

		h3 {
			margin: 5px 0px 0px 0px;
			font-size: 14px;
		}
	}

	.site-main {
		min-height: 90vh;
	}

	.footer-container {
		background: #222222;
		margin-top: 30px;
		padding-top: 20px;
		padding-bottom: 20px;

		p {
			color: #fff;
			font-size: 12px;
		}
	}
}
