<div class="col-md-6 col-md-offset-3">
	<% @snippets.each do |snippet| %>
		<div class="col-md-12 jumbotron">
			<p><%= snippet.title %></p>
			<button><%= snippet.language %></button>
		</div>
	<% end %>
</div>