<div class="col-md-6 col-md-offset-3">
	<% @snippets.reverse_each do |snippet| %>
		<div class="col-md-12 jumbotron">
			<p><%= snippet.title %></p>
			<div class="language"><%= snippet.language %></div>
			<a href="/snippets/<%= snippet.id %>" >View</a>
		</div>
	<% end %>
</div>